/* combined design system styles that based on cagov color scheme */
@import "./../node_modules/@cagov/ds-base-css/src/themes/_drought.scss";
@import "./../node_modules/@cagov/ds-agency-footer/src/index.scss";
@import "./../node_modules/@cagov/ds-back-to-top/src/index.scss";
@import "./../node_modules/@cagov/ds-branding/src/index.scss";
@import "./../node_modules/@cagov/ds-content-navigation/src/index.scss";
@import "./../node_modules/@cagov/ds-external-link-icon/src/index.scss";
@import "./../node_modules/@cagov/ds-feedback/src/css/index.scss";
@import "./../node_modules/@cagov/ds-dropdown-menu/src/index.scss";
@import "./../node_modules/@cagov/ds-pagination/src/css/index.scss";
@import "./../node_modules/@cagov/ds-pdf-icon/src/index.scss";
@import "./../node_modules/@cagov/ds-skip-to-content/src/index.scss";
@import "./../node_modules/@cagov/ds-statewide-footer/src/index.scss";
@import "./../node_modules/@cagov/ds-statewide-header/src/index.scss";


// Page components
// @import "./../node_modules/@cagov/ds-feature-card/src/index.scss";
// @import "./../node_modules/@cagov/ds-feature-card/src/index.scss";
// @import "./../node_modules/@cagov/ds-button-grid/src/index.scss";
// @import "./../node_modules/@cagov/ds-accordion/src/index.scss";
// @import "./../node_modules/@cagov/ds-step-list/src/index.scss";
// @import "./../node_modules/@cagov/ds-table/src/index.scss";
// @import "./../node_modules/@cagov/ds-table/src/index.wordpress.scss";
// @import "./../node_modules/@cagov/ds-regulatory-outline/src/index.scss";
// @import "./../node_modules/@cagov/ds-page-alert/src/index.scss";